@font-face {
    font-family: 'RobotoBold'; /*a name to be used later*/
    src: url('/Font/Roboto-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'RobotoLight'; /*a name to be used later*/
    src: url('/Font/Roboto-Light.ttf'); /*URL to font*/
}


body {
    font-size: 12px;
    font-family: 'RobotoLight';
  }

  .pointer{
      cursor: pointer;
  }
  .center{
      text-align: center;
  }
  .top25{
      margin-top: 25px;
  }
  .top50{
    margin-top: 50px;
}
  .top-10px{
      margin-top: -10px;
  }
  .white{
      color: white;
  }
  .BG-Blue{
      background: #002835;
  }
  .height40{
      height: 40px;
  }
  .top10{
      margin-top: 10px;
  }
  .OraData{
    font-size: 10px;
  }
  .left10{
      margin-left: 10px;
  }
  .right10{
      margin-right: 10px
  }
  .left30{
    margin-left: 30px;
  }

  .partitaFont{
    font-weight: bold;
  }

  .PercentualeQuoteFont{
    font-weight: bold;
    color: green;
  }

  .message_SureBet_1X2_Title{
     font-weight: bold;
     font-size: 10px;
     color: green;      
  }

  .message_SureBet_1X2_Body{
    font-size: 8px;
    color: #002835;      
 }

 .messageCard{
    width: 205px;
    margin-top: 25px;
    display: none;
 }

 .aggiornamentoTitle{
    font-weight: bold;
    font-size: 12px;
 }

 .aggiornamentoData{
    font-weight: bold;
    color: green; 
    margin-left: -50px;
 }

 .hrProgram{ 
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

}

.tiitleStyle{
    font-family: 'RobotoBold';
}
