    <!-- SecondaRigaTabella_1X2 -->
    <div id="SecondaRigaTabella_1X2" class="container top25 center" >  
        <div class="card">
            <div class="card-header BG-Blue height40">
                <div class="row">            
                    <div class="col-md-1 center white">
                        <i class="fa fa-calendar "></i>
                    </div>
                    <div class="col-md-3 center white">
                        <div id="I_Tabella_II_Riga_Campionato"></div>
                    </div>
                    <div class="col-md-1 center white">
                        <p>Tot</p>
                    </div>
                    <div class="col-md-2 center white">
                        <p>1</p>
                    </div>     
                    <div class="col-md-2 center white">
                        <p>X</p>
                    </div>  
                    <div class="col-md-2 center white">
                        <p class="left30">2</p>
                    </div>              
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1 OraData">
                        <div id="I_Tabella_II_Riga_DataEvento"></div>
                        <div id="I_Tabella_II_Riga_OraEvento"></div>
                    </div>
                    <div class="col-md-3">
                        <div id="I_Tabella_II_Riga_Partita" class="partitaFont"></div>
                    </div>
                    <div class="col-md-1">
                        <div id="I_Tabella_II_Riga_PercentualeQuote" class="PercentualeQuoteFont"></div>
                    </div>
                    <div class="col-md-2">
                        <div id="I_Tabella_II_Riga_Quota1"></div>
                        <a id="I_Tabella_II_Riga_Bookmaker1" class="pointer"></a>
                    </div>
                    <div class="col-md-2">
                        <div id="I_Tabella_II_Riga_QuotaX"></div>
                        <a id="I_Tabella_II_Riga_BookmakerX" class="pointer"></a>                    
                    </div>
                    <div class="col-md-1">
    
                    </div>
                    <div clss="col-md-2">
                        <div id="I_Tabella_II_Riga_Quota2"></div>
                        <a id="I_Tabella_II_Riga_Bookmaker2" class="pointer"></a>                     
                    </div>
                </div>     
            </div>
        </div> 
    </div>

    <!-- TerzaRiga-->
    <div id="TerzaRiga_I_Tabella_1X2" class="container top25 center" >    
    <div class="card">
        <div class="card-header BG-Blue height40">
            <div class="row">            
                <div class="col-md-1 center white">
                    <i class="fa fa-calendar "></i>
                </div>
                <div class="col-md-3 center white">
                    <div id="I_Tabella_III_Riga_Campionato"></div>
                </div>
                <div class="col-md-1 center white">
                    <p>Tot</p>
                </div>
                <div class="col-md-2 center white">
                    <p>1</p>
                </div>     
                <div class="col-md-2 center white">
                    <p>X</p>
                </div>  
                <div class="col-md-2 center white">
                    <p class="left30">2</p>
                </div>              
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 OraData">
                    <div id="I_Tabella_III_Riga_DataEvento"></div>
                    <div id="I_Tabella_III_Riga_OraEvento"></div>
                </div>
                <div class="col-md-3">
                    <div id="I_Tabella_III_Riga_Partita" class="partitaFont"></div>
                </div>
                <div class="col-md-1">
                    <div id="I_Tabella_III_Riga_PercentualeQuote" class="PercentualeQuoteFont"></div>
                </div>
                <div class="col-md-2">
                    <div id="I_Tabella_III_Riga_Quota1"></div>
                    <a id="I_Tabella_III_Riga_Bookmaker1" class="pointer"></a>
                </div>
                <div class="col-md-2">
                    <div id="I_Tabella_III_Riga_QuotaX"></div>
                    <a id="I_Tabella_III_Riga_BookmakerX" class="pointer"></a>                    
                </div>
                <div class="col-md-1">

                </div>
                <div clss="col-md-2">
                    <div id="I_Tabella_III_Riga_Quota2"></div>
                    <a id="I_Tabella_III_Riga_Bookmaker2" class="pointer"></a>                     
                </div>
            </div>     
        </div>
    </div> 
    </div>

    <!-- QuartaRiga-->
    <div id="QuartaRiga_I_Tabella_1X2" class="container top25 center" >    
            
            <div class="card">
                <div class="card-header BG-Blue height40">
                    <div class="row">            
                        <div class="col-md-1 center white">
                            <i class="fa fa-calendar "></i>
                        </div>
                        <div class="col-md-3 center white">
                            <div id="I_Tabella_IV_Riga_Campionato"></div>
                        </div>
                        <div class="col-md-1 center white">
                            <p>Tot</p>
                        </div>
                        <div class="col-md-2 center white">
                            <p>1</p>
                        </div>     
                        <div class="col-md-2 center white">
                            <p>X</p>
                        </div>  
                        <div class="col-md-2 center white">
                            <p class="left30">2</p>
                        </div>              
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1 OraData">
                            <div id="I_Tabella_IV_Riga_DataEvento"></div>
                            <div id="I_Tabella_IV_Riga_OraEvento"></div>
                        </div>
                        <div class="col-md-3">
                            <div id="I_Tabella_IV_Riga_Partita" class="partitaFont"></div>
                        </div>
                        <div class="col-md-1">
                            <div id="I_Tabella_IV_Riga_PercentualeQuote" class="PercentualeQuoteFont"></div>
                        </div>
                        <div class="col-md-2">
                            <div id="I_Tabella_IV_Riga_Quota1"></div>
                            <a id="I_Tabella_IV_Riga_Bookmaker1" class="pointer"></a>
                        </div>
                        <div class="col-md-2">
                            <div id="I_Tabella_IV_Riga_QuotaX"></div>
                            <a id="I_Tabella_IV_Riga_BookmakerX" class="pointer"></a>                    
                        </div>
                        <div class="col-md-1">
        
                        </div>
                        <div clss="col-md-2">
                            <div id="I_Tabella_IV_Riga_Quota2"></div>
                            <a id="I_Tabella_IV_Riga_Bookmaker2" class="pointer"></a>                     
                        </div>
                    </div>     
                </div>
            </div> 
    </div>

    <!-- QuintaRiga-->
    <div id="QuintaRiga_I_Tabella_1X2" class="container top25 center" >   
           
            <div class="card">
                <div class="card-header BG-Blue height40">
                    <div class="row">            
                        <div class="col-md-1 center white">
                            <i class="fa fa-calendar "></i>
                        </div>
                        <div class="col-md-3 center white">
                            <div id="I_Tabella_V_Riga_Campionato"></div>
                        </div>
                        <div class="col-md-1 center white">
                            <p>Tot</p>
                        </div>
                        <div class="col-md-2 center white">
                            <p>1</p>
                        </div>     
                        <div class="col-md-2 center white">
                            <p>X</p>
                        </div>  
                        <div class="col-md-2 center white">
                            <p class="left30">2</p>
                        </div>              
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1 OraData">
                            <div id="I_Tabella_V_Riga_DataEvento"></div>
                            <div id="I_Tabella_V_Riga_OraEvento"></div>
                        </div>
                        <div class="col-md-3">
                            <div id="I_Tabella_V_Riga_Partita" class="partitaFont"></div>
                        </div>
                        <div class="col-md-1">
                            <div id="I_Tabella_V_Riga_PercentualeQuote" class="PercentualeQuoteFont"></div>
                        </div>
                        <div class="col-md-2">
                            <div id="I_Tabella_V_Riga_Quota1"></div>
                            <a id="I_Tabella_V_Riga_Bookmaker1" class="pointer"></a>
                        </div>
                        <div class="col-md-2">
                            <div id="I_Tabella_V_Riga_QuotaX"></div>
                            <a id="I_Tabella_V_Riga_BookmakerX" class="pointer"></a>                    
                        </div>
                        <div class="col-md-1">
        
                        </div>
                        <div clss="col-md-2">
                            <div id="I_Tabella_V_Riga_Quota2"></div>
                            <a id="I_Tabella_V_Riga_Bookmaker2" class="pointer"></a>                     
                        </div>
                    </div>     
                </div>
            </div> 
    </div>
