<!-- IV Tabella -->
<script src="/JS/Tennis/IV_Tabella/I_riga.js"></script> 
<script src="/JS/Tennis/IV_Tabella/II_riga.js"></script> 
<script src="/JS/Tennis/IV_Tabella/III_riga.js"></script>
<script src="/JS/Tennis/IV_Tabella/IV_riga.js"></script>
<script src="/JS/Tennis/IV_Tabella/V_riga.js"></script>
<script src="/JS/Tennis/IV_Tabella/DislpayElements.js"></script>
<script src="/JS/Tennis/IV_Tabella/FiltroPercentuale.js"></script>